.h1{
  text-align: center;
  border-bottom: 2px solid black;
}

#text_add {
   display: inline;
}
#text_update{
  display: inline;
}

#text_show{
  display: inline;
}
#text_delete{
  display: inline;
}
.Show{
  text-align: center;
  
}
.{
  text-align: center;
}