{%extends 'base.html'%}
 {%block head%}
<title>Delete page</title>
{%endblock%}
{%block body %}
<h2 class="Delete_logo">Delete Assignment</h2>
<hr>
{% if schdule %}
    {% for item in schdule %}
      <p>{{ item[0] }} - {{ item[1] }} - {{ item[2] }}</p
    {% endfor %}
{% else %}
    <p>You haven't added anything yet.</p>
{% endif %}
<div><form action="/delet_form" method="POST">
<label for="number">Delete your mission</label>
<input type="number" name="number" id="number" placeholder="Typ here only Number of you mission.."  required><button type="submit">Delete</button> </form> </div>


<button type="button" class="Skip_delete">Skip</button>
{%endblock%}



