{%extends 'base.html' %} {%block head %}

<title>To Do List</title>

{%endblock%} {%block body %}

<header>
  <div>
    <h1 class="h1">To Do List</h1>
  </div>
</header>

<div>
  <p id="text_add">If you want to add any new assignment press here :</p>
  
  <button class="Add">Add</button>
</div>
<hr />

<div>
  <p id="text_delete">
    If you want to delet any thing you added be for press here
  </p>
  
  <button class="Delete">Delete</button>
</div>
<hr />

<div>
  <p id="text_update">If you want to Update your tasks press here:</p>
  <button class="Update">Update</button>
</div>
<hr />

<div>
  <p id="text_show">If you want to see you assignment for to day press here:</p>
  <button class="Show">Show</button>
</div>

{%endblock%}
